<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Cadastro de Jogador</title>
  </head>
  <body>
    <h1>Cadastro de Jogador</h1>
    <form action="/cadastrar" method="post">
      <label>Nome do Responsável:</label>
      <input type="text" name="nome_responsavel" required /><br /><br />

      <label>CPF do Responsável:</label>
      <input type="text" name="cpf_responsavel" required /><br /><br />

      <label>Telefone do Responsável:</label>
      <input type="text" name="telefone_responsavel" required /><br /><br />

      <label>Nome do Jogador:</label>
      <input type="text" name="nome_jogador" required /><br /><br />

      <label>CPF do Jogador:</label>
      <input type="text" name="cpf_jogador" required /><br /><br />

      <label>Data de Nascimento do Jogador:</label>
      <input type="date" name="data_nascimento" required /><br /><br />

      <button type="submit">Cadastrar</button>
    </form>
  </body>
</html>
